.gauche{
    padding-left: 12px;
    background:#1B2030
    url(https://http://www.metiers-du-livre.fr/wp-content/uploads/2017/11/M2-metiers-du-livre-auteur-ecrivain.png) 
    center no-repeat;

}
.mdl-card__title.mdl-card__title {
    color:rgb(6, 68, 77);;
    font-size: 24px;
    font-weight: 400;
  }