.gauche{
    padding-left: 12px;
    background:#1B2030
    url(https://images.unsplash.com/photo-1463405346908-1e464eea5f3b?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ) 
    center no-repeat;

}
.mdl-card__title.mdl-card__title {
    color:#00BCD4;;
    font-size: 24px;
    font-weight: 400;
  }