
#contentlogo{
    width: 100px;
}
#popups {
    background-color: rgb(113, 224, 141) url(https://images.unsplash.com/photo-1463405346908-1e464eea5f3b?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ)
    center no-repeat;
    padding: 50px;
    border-radius: 10px;
}
#ajoutatelier {
    display: none;
    background:#1B2030
    url(https://images.unsplash.com/photo-1463405346908-1e464eea5f3b?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ)
    center no-repeat;
}
#tableau {
    display: none;
    background-color: #5fd6a4;
}
#bottou {
    font-size: 12px !important
}
.md-form{
    background-color: #1f9ef3;
    /* padding: 10px; */
    border-radius: 10px;
    width: 500px;
}
#footer {
    height: 80px;
    line-height: 50%;
    width: 100%;
    font-family:Roboto 'Helvetica Neue', sans-serif !important;
}

h2,p{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-style: Verdana,Tahoma, Geneva;
}