
#contentlogo{
    width: 100px;
}
#popups {
    background-color: rgb(113, 224, 141) center no-repeat;
    padding: 50px;
    border-radius: 10px;
}
#ajoutatelier {
    display: none;
    background:#1B2030 center no-repeat;
}
#tableau {
    display: none;
    background-color: #0f6d46;
}
#bottou {
    font-size: 12px !important
}
.md-form{
    background-color: #0e4468;
    /* padding: 10px; */
    border-radius: 10px;
    width: 500px;
}
#footer {
    background-color: rgb(5, 21, 75);
    height: 80px;
    position: flex;
    line-height: 50%;
    width: 100%;
    font-family: Roboto 'Helvetica Neue', sans-serif !important;
    font-style: inherit;
    margin-top:30%
}

h2,p{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-style: Verdana,Tahoma, Geneva !important;
}
#navbar{
    background-color: rgb(21, 33, 70);
    
}