#logo{
    width: 80%;
    height: 60%;
}
#imghello{
    width: 100%;
    height: 50%;
}
#nomProject{
    color: #1f8df3;
    font-size:46px; 
}
.aingo{
    color: #715cd0;
    font-size:76px;
}
#navbar{
    height: 20%;
}
header{
    background-color: #1B2030;
}
